body{
   padding: 0%;
   margin: 0%; 
   background-color:antiquewhite ;
}

.cointainer{
   padding: 20px;
   position: absolute;
   top:80% ;
   left:50% ;
   transform:translate(-50%, -50%) ;
   width: 400px;
   background-color: whitesmoke;
}

.avatar{
   width: 400px;

}
   
.hero{
   background-color: pink;
}
